<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.hep.mapper.QuestionCategoryMapper">
    <resultMap id="BaseResultMap" type="org.dows.hep.entity.QuestionCategoryEntity">
        <result column="id" property="id"/>
        <result column="pid" property="pid"/>
        <result column="question_categ_pid" property="questionCategPid"/>
        <result column="question_categ_id" property="questionCategId"/>
        <result column="question_categ_name" property="questionCategName"/>
        <result column="question_categ_id_path" property="questionCategIdPath"/>
        <result column="question_categ_name_path" property="questionCategNamePath"/>
        <result column="question_categ_group" property="questionCategGroup"/>
        <result column="sequence" property="sequence"/>
        <result column="deleted" property="deleted"/>
        <result column="dt" property="dt"/>
    </resultMap>

    <resultMap id="NodeTreeResult" type="org.dows.hep.entity.QuestionCategoryEntity" extends="BaseResultMap">
        <collection property="children"
                    ofType="org.dows.hep.entity.QuestionCategoryEntity"
                    select="getChildrenByPid">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        pid,
        question_categ_pid,
        question_categ_id,
        question_categ_name,
        question_categ_id_path,
        question_categ_name_path,
        question_categ_group,
        sequence,
        deleted,
        dt
    </sql>

    <select id="getChildrenByPid" resultMap="NodeTreeResult">
        select
        <include refid="Base_Column_List"/>
        from question_category
        where question_categ_pid = #{questionCategPid} and question_categ_group = #{questionCategGroup} and deleted = 0
    </select>

    <select id="getAllCategory" resultType="org.dows.hep.entity.QuestionCategoryEntity">
        select
        <include refid="Base_Column_List"/>
        from question_category
        where question_categ_group = #{questionCategGroup} and deleted = 0
    </select>
</mapper>